In [3]:
import numpy as np 
from sklearn.svm import OneClassSVM
from sklearn.metrics import f1_score, precision_score, recall_score, make_scorer
from sklearn.model_selection import GridSearchCV
import sys
from joblib import dump, load 
import csv

In [ ]:
data = np.loadtxt('15ConsensusFeaturesSVM.csv', delimiter=",")
labels = np.loadtxt('15ConsensusLabels.csv', delimiter=",")

In [4]:
clf = OneClassSVM(gamma='auto')
clf.fit(data)

In [ ]:
predicted = clf.predict(data)
print(predicted)

In [ ]:
print(recall_score(labels, predicted))

In [ ]:
scorer = make_scorer(f1_score)
grid = GridSearchCV(clf, param_grid={'kernel': ['rbf', 'linear', 'poly'], 'degree': [2, 3, 4], 'gamma': ['scale', 0.5, 0.3, 0.1]}, scoring=scorer)

In [ ]:
df = grid.cv_results_

In [5]:
df.head()

   sequence_id  dim_id  aa   value
0            0       0   0    2.80
1            0       1   0    2.50
2            0       2   0  165.20
3            0       3   0    2.00
4            0       4   0    2.58

In [6]:
df.tail()

      sequence_id  dim_id  aa   value
6055          100       1   9    2.20
6056          100       2   9  131.20
6057          100       3   9    2.00
6058          100       4   9    2.36
6059          100       5   9    9.60